{
    "parser": "typescript-eslint-parser",
    "env": {
      "browser": true,
      "es6": true
    },
    "parserOptions": {
      "allowImportExportEverywhere": true,
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "plugins": [
      "import"
    ],
    "rules": {
      "import/order": [
        "error",
        {
          "newlines-between": "never",
          "groups": [
            "builtin",
            "external",
            "internal",
            "parent",
            "sibling",
            "index"
          ]
        }
      ]
    }
  }
  